@import './Sass/GlobalFunctions.module.scss';

.App {
  min-height: 100vh;
  background-color: #cecece;
  overflow-x: hidden;
  width: 100%;
}

section {
  background-color: #252934;
}

section:nth-of-type(even) {
  background-color: #cecece;
}