@import '../../Sass/GlobalFunctions.module.scss';

.Content {
    min-height: 100%;
    min-width: 100%;
    background-color: f_color(primary);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
}

.Customer {
    color: white;
    background-color: f_color(secondary);
    width: 10%;

}