@import '../../Sass/GlobalMixins.module.scss';
@import '../../Sass/GlobalFunctions.module.scss';

.Navbar {
    display: flex;
    min-height: 50px;
    width: 100%;
    min-width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    background-color: f_color(secondary);
    padding-left: 5%;
}

.DesktopOnly {
    display: none;
    
}

.ErrorBox {
    background-color: f_color(secondary);
    color: rgb(125, 0, 0);
    font-weight: bold;
}

@include desktop
{
    .DesktopOnly {
        display: flex;
        min-width: auto;
        justify-content: flex-end;
        margin-right: 5%;
    }
}