@import '../../Sass/GlobalMixins.module.scss';
@import '../../Sass/GlobalFunctions.module.scss';

.Navbar {
    display: flex;
    min-height: 50px;
    text-align: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #1d2029;
    padding-left: 5%;
    -moz-box-shadow: 5px 15px 5px 0px rgb(219, 219, 219);
    -webkit-box-shadow: 5px 15px 5px 0px rgb(219, 219, 219);
    box-shadow: 5px 15px 5px 0px rgb(219, 219, 219);
    border: 2px;
}

.DesktopOnly {
    display: none;
    
}

.ErrorBox {
    background-color: f_color(secondary);
    color: rgb(125, 0, 0);
    font-weight: bold;
}

@include desktop
{
    .DesktopOnly {
        display: flex;
        min-width: auto;
        justify-content: flex-end;
        margin-right: 5%;
    }
}