.Project {
    min-width: 100%;
    min-height: 200%;
    position: relative;
    display: flex;
    background-color: #cecece;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    z-index: 200;
    position: absolute;
    flex-direction: column;
    align-content: center;
    margin: 2%;
}